<div class = "field">
<%= f.label :stripe_token %><br />
<%= f.text_field :stripe_token %>
<%- if @cc_last_4 %>
<div class="field">
<input type="radio" name="saved_card" value="true"/> Saved Card
<input type="radio" name="saved_card" value="false"/> New Card
</div>

<div id="saved_card">
<div class="field">
<label>Saved Card</label>
<input id="saved-number" type="text" disabled="true"
value="&bull;&bull;&bull;" <%= @cc_last_4 %>" />
</div>
</div>
<%- end %>
<div id="new_card">
<div class="field">
<label>Card Number</label>
<input id="card-number" type="text" placeholder="4242 4242 4242 4242" />
</div>
<div class="field">
<label>CV Code</label>
<input id="cvc" type="text" placeholder="123" />
</div>
<div class="field">
<label>Expiry Month</label>
<input id="exp-month" type="text" placeholder="12" />
</div>
<div class="field">
<label>Expiry Year</label>
<input id="exp-year" type="text" placeholder="16" />
</div>
</div>
<div class="field">
<%= f.text_field :amount %>
<%= f.label :amount %><br />
</div>
<div class="field">
<%= f.label :user %><br />
<%= f.text_field :user %>
</div>
<div class="actions">